@import "tailwindcss";

:root {
  --background: #00020B;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
  background: #00020B;
}

body {
  background: #00020B;
  color: #ffffff;
  font-family: "Montserrat", "Inter", system-ui, sans-serif;
}
